<div class="p-5">
    <h3>Crear Departamento</h3>
    <form #createForm="ngForm">
        <label class="form-label">Id</label>
        <input type="number" #cajaid name="cajaid" class="form-control"/>
        <label class="form-label">Nombre</label>
        <input type="text" #cajanombre name="cajanombre" class="form-control"/>
        <label class="form-label">Localidad</label>
        <input type="text" #cajalocalidad name="cajalocalidad" class="form-control"/>
        <br>
        <button class="btn btn-primary" (click) = "insertDepartamento()">Crear Dept</button>
    </form>
</div>
